
.header .navbar-inverse .navbar-nav>li>a.active {
    color: #41C3D3 !important;
}

.gallery {
    padding: 70px 0;
}

.img-gallery {
    max-height: 263px;
    margin: 20px 0;
}

#nprogress .bar {
    background: red !important;
}

#nprogress .peg {
    box-shadow: 0 0 10px red, 0 0 5px red !important;
}

#nprogress .spinner-icon {
    border-top-color: red !important;
    border-left-color: red !important;
}