
.header .navbar-inverse .navbar-nav>li>a.active {
    color: #41C3D3 !important;
}

.gallery {
    padding: 70px 0;
}

.img-gallery {
    max-height: 263px;
    margin: 20px 0;
}

#nprogress .bar {
    background: #41C3D3 !important;
    height: 4px;
}

#nprogress .peg {
    box-shadow: 0 0 10px #41C3D3, 0 0 5px #41C3D3 !important;
}

#nprogress .spinner-icon {
    border-top-color: #41C3D3 !important;
    border-left-color: #41C3D3 !important;
}

.footer__top {overflow: hidden;}